@media (max-width: 850px) {
  .story__wrapper {
    flex-direction: column;
    align-items: center;
  }
  .story__desk-light {
    margin-bottom: 20px;
  }
  .story__left {
    width: 60%;
  }
  .story__right {
    width: 60%;
  }

  .capabilities__upper {
    flex-direction: column;
    align-items: center;
  }

  .project__wrapper {
    flex-direction: column;
    align-items: center;
  }
  .project__card {
    margin-bottom: 20px;
    width: 60%;
  }

  /* footer */
  .footer__container {
    max-width: 716px;
  }
  .footer__wrapper {
    grid-template-columns: 1fr 1fr;
  }
  .footer__socials {
    justify-content: flex-start;
  }
  .footer__company {
    margin-bottom: 30x;
  }
}
@media (max-width: 750px) {
  .story__subtitle {
    font-size: 20px;
  }
  .title {
    font-size: 50px;
  }
  .award {
    font-size: 14px;
  }
}
@media (max-width: 650px) {
  .story__subtitle {
    font-size: 18px;
  }
  .signup__wrapper {
    flex-direction: column;
  }
  .signup__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 600px) {
  .title {
    font-size: 45px;
  }
  .story__desk {
    font-size: 18px;
  }
  .story__desk-light {
    font-size: 13px;
  }
  .story__right {
    flex-direction: column;
  }
  .story__box {
    width: 100%;
    margin-bottom: 20px;
  }
  .story__subtitle{
    font-size: 30px;
    text-align: center;
  }
}
@media (max-width: 590px) {
.burger__menu{
  display: block;
}
.header__nav{
  display: none;
}
  }
